<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transfer Playlists</title>
    <link rel="stylesheet" href="/src/assets/styles/styles.css" />
    <link rel="stylesheet" href="/src/assets/styles/common.css" />
  </head>
  <body class="p10">
    <div id="logo" class="w100 mt10 mb20">Transfer playlist</div>
    <script
      src="https://unpkg.com/react@18/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      crossorigin
    ></script>
  </body>
</html>
