<%- include('../partials/head'); %>
<div id="results" data-result="<%=results%>"></div>
<script
  src="/ResultPlaylist.js"
  onerror="alert('failed to load')"
></script>

<%- include('../partials/footer'); %>
