<%- include('../partials/head'); %>
<div id="results" data-result="<%=results%>"></div>
<script
  src="/src/components/ResultPlaylist.js"
  onerror="alert('failed to load')"
  type="text/babel"
></script>

<%- include('../partials/footer'); %>
